@mixin dim($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin adapt_image {
    @include dim(100%, 100%);
    object-fit: cover;
    object-position: center;
}

@mixin position($pos, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin media-desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin boxShadow($color) {
    -webkit-box-shadow: 1px 4px 12px 4px rgba($color ,0.37); 
    box-shadow: 1px 4px 12px 4px rgba($color ,0.37);
}